<%- include('../partials/header') %>
<table id="list">
	<thead>
		<tr>
			<th>Book</th>
			<th>Author</th>
			<th>Book Cover</th>
			<th>Rating</th>
			<!-- <th>Reviews</th> -->
		</tr>
	</thead>
	<tbody>
		<% books.forEach(function(b) { %>
		<tr>
			<td><%= b.title %></td>
			<td><%= b.author %></td>
			<td><img src="<%= b.bookCover %>" /></td>
			<td><%= b.rating %></td>
			<!-- <td><a href="/books/<%= b._id %>/reviews">Reviews</a></td> -->
			<td>
				<a href="/books/<%= b._id %>">DETAILS </a>
			</td>
		</tr>
		<% }); %>
	</tbody>
</table>
<br />
<a class="waves-effect waves-light btn" href="/books/new"> Add Book </a>
<%- include('../partials/footer') %>
