<%- include('../partials/header') %>

<h3><%=book.title%> </h3>
<form
	id="delete-form"
	method="POST"
	action="/books/<%=book.id%>/?_method=DELETE"
>
	<button type="submit">Delete book</button>
</form>
<a href="/books/update/<%=book.id%>"><button>EDIT</button></a>
<p><img src="<%= book.bookCover%>" /></p>

<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Rating</th>
		</tr>
	</thead>
	<tr>
		<td><%= book.title %></td>
		<td><%= book.author %></td>
		<td><%= book.rating %></td>
	</tr>
</table>

<table>
<th>Reviews</th>
<tr>
	<% book.reviews.forEach(function(r){ %>
	<td><%= r.review %></td>
	<% }) %>
</tr>
</table>
<h4>Write a review</h4>
<form action="/books/<%=book._id%>/reviews" method="POST" enctype="multipart/form-data">
	<!-- <input name="review" type="text" required> -->
	<input name="review"></input>

	<button>Add Review</button>
</form>

<%- include('../partials/footer') %>
