<%- include('./partials/header') %>
<!-- FAVOURITES SHELF -->
<div class="row">
	<div class="col s12">
		<div class="card grey amber-lighten-3">
			<div class="card-content white-text">
				<p>
					<h4>Hi, <%=user.name%>! </h4>
				</p>
			</div>
		</div>
	</div>
</div>
</section>
<!-- ALL BOOKS -->
<section class="container">
	<div class="row">
		<div class="col s12">
			<div class="card grey amber-lighen-3">
				<div class="card-content white-text">
					<span class="card-title">Current favourite</span>
					<p>
						<% if (book) { %> 
						<h4><%=book.title%> </h4>
						<p><img src="<%= book.bookCover%>" /></p>
						<table>
							<thead>
								<tr>
									<th>Title</th>
									<th>Author</th>
									<th>Rating</th>
								</tr>
							</thead>
							<tr>
								<td><%= book.title %></td>
								<td><%= book.author %></td>
								<td><%= book.rating %></td>
							</tr>
							<% } else { %> 
								No Books yet
							<% } %> 
						</table>
					</p>
				</div>
				<div class="card-action">
					<a href="/books/<%=book.id%>">Details</a>
				</div>
			</div>
		</div>
	</div>
<%- include('./partials/footer') %>
